# Lab Assignment 5

## Name: Jerin Mathew

## Roll No: 2139455

# Demonstrate Naive Bayes Classifier

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix

In [10]:
df = pd.read_csv('C:/ClassesMSC/Bank_Personal_Loan_Modelling.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [11]:
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [12]:
X = df.drop(columns=['Online'])
y = df.Online

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 1)
X_train.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,CreditCard
1334,1335,47,22,35,94304,2,1.3,1,0,0,0,0,0
4768,4769,38,14,39,93118,1,2.0,2,0,0,0,0,0
65,66,59,35,131,91360,1,3.8,1,0,0,0,0,1
177,178,29,3,65,94132,4,1.8,2,244,0,0,0,0
4489,4490,39,13,21,95518,3,0.2,2,0,0,0,0,0

In [14]:
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import RandomForestClassifier

#using the random forest classifier for bagging and feature randomness to create uncorrelation

model = RandomForestClassifier()
model.fit(X_train,y_train)

#getting the predictions using the trained model

predictions = model.predict(X_test)

#printing the accuracy of the train data
print("the accuracy of the train data is ",model.score(X_train,y_train)*100)
                                                                                 
#printing the accuracy of the test data
print("the accuracy of the test data is",model.score(X_test,y_test)*100)

the accuracy of the train data is  100.0
the accuracy of the test data is 57.333333333333336

In [15]:
#using quatile transformer to transform the dataset into a normal distribution

from sklearn.preprocessing import QuantileTransformer
qt = pd.DataFrame(QuantileTransformer(output_distribution='normal').fit_transform(X_train))
qt

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,-0.622565,0.100535,0.106841,-0.771450,0.380326,-0.191865,-0.190587,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338
1,1.659913,-0.506348,-0.421111,-0.661162,-0.036391,-5.199338,0.333524,0.143512,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338
2,-2.229395,1.033647,1.174387,1.079690,-0.844485,-5.199338,1.140077,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,5.199338
3,-1.795386,-1.368450,-1.475269,0.050204,0.308427,5.199338,0.193143,0.143512,1.528453,-5.199338,-5.199338,-5.199338,-5.199338
4,1.261858,-0.433482,-0.493553,-1.401177,1.371657,0.400635,-1.414698,0.143512,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3495,0.194028,1.149742,1.312981,-0.661162,0.492137,5.199338,-0.190587,0.143512,0.945616,-5.199338,-5.199338,-5.199338,-5.199338
3496,0.123701,0.637923,0.748009,-1.865852,0.048948,5.199338,-0.658043,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338
3497,-0.915537,0.038901,0.106841,-1.077446,0.824933,-5.199338,-0.365531,-5.199338,0.559859,-5.199338,-5.199338,-5.199338,5.199338
3498,0.828124,0.038901,0.106841,0.545244,-0.146048,5.199338,-0.116941,0.143512,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338
3499,-1.687872,-0.506348,-0.880888,0.139710,0.824933,5.199338,0.193143,5.199338,-5.199338,-5.199338,-5.199338,-5.199338,-5.199338

In [16]:
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB()

In [17]:
# Predicting the Test set results

y_pred = classifier.predict(X_test)
y_pred

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

In [18]:
# Making the Confusion Matrix for finding the positive, false_positive, negative and false_negative
cm = confusion_matrix(y_test, y_pred)
cm

array([[543,  42],
       [804, 111]], dtype=int64)

In [19]:
#Checking the accuracy score of the model

ac = (accuracy_score(y_test,y_pred)*100)
ac

43.6